<%= bootstrap_form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div class="alert alert-danger">
          <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, placeholder: "Napíš meno" %>
    </div>

    <div class="field">
      <%= f.select :strategy, [ '0', '1', '2' ], placeholder: "Typ odporúčania" %>
    </div>

    <div class="actions">
      <%= f.submit 'OK' %>
    </div>
<% end %>
