<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @joke.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @joke.category %>
</p>

<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
