<h1>Ratingy</h1>

<h4> Počet: <%= @ratings.length %> </h4>

<table>
  <thead>
  <tr>
    <th>Vtip id</th>
    <th>Kategória</th>
    <th>Uzivatel</th>
    <th>Uzivatel strategia</th>
    <th>Rating rate</th>
    <th>Rating predicted</th>
    <th colspan="3"></th>
  </tr>
  </thead>


  <tbody>
  <% @rr.each do |r| %>
      <tr>
        <td><%= r[0].joke.id %></td>
        <td><%= r[0].joke.category.name %></td>
        <td><%= r[0].user.name %></td>
        <td><%= r[0].user.strategy %></td>
        <td><%= r[0].user_rating %></td>
        <td><%= r[1] ? r[1].predicted_rating : 0%></td>
        <td><%#= link_to 'Show', joke, :class => "btn btn-default" %></td>
        <td><%#= link_to 'Edit', edit_joke_path(joke), :class => "btn btn-default" %></td>
        <td><%#= link_to 'Destroy', joke, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default"%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>